:root {
	--text-header-color: #fff;
	--text-main-color: rgba(255, 255, 255, 0.8);
	--dark-background-color: #2C2F33;
	--almost-black: #23272A;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	background-color: var(--dark-background-color);
	color: var(--text-main-color);
}

h1 {
	color: var(--text-header-color);
}

a:link {
    color: #fff;
}
a:visited {
    color: #fff;
}

.button-primary {
    display: inline-block;
    min-width: 128px;
    max-width: 196px;
	padding: 16px 30px;
	background-color: #4894df;
	color: #ffffff;
	font-size: 18px;
	border: 2px solid transparent;
	border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    margin: 32px 0 0;
}

.button-primary:hover {
	background-color: #225cb7;
}

.section-main {
    background-color: #3B5B36;
    padding: 96px 48px;
    text-align: center;
    font-size: 20px;
}

.section-main > h1 {
    margin-top: 48px;
    margin-bottom: 32px;
    font-size: 48px;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}

.section-main > p {
    line-height: 1.8em;
    letter-spacing: 0.02em;
    margin: 32px 0 0;
}

#bg-cards-left {
    position: absolute;
    left: -128px;
    top: 96px;
    display: none;
}
#bg-cards-right {
    position: absolute;
    right: -128px;
    top: 96px;
    display: none;
}

strong {
    color: #fff;
}

.section-header {
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

.avatar-image {
    border: 4px solid #fff;
    border-radius: 50%;
}

.feature {
    background-color: var(--dark-background-color);
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.feature-section > p {
    margin: 0;
    letter-spacing: 0.02em;
}

.feature-image {
    width: 100%;
    max-width: 552px;
    margin: auto;
    border: 2px solid rgba(115, 115, 115, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.commands-section {
    margin: 0 auto;
    padding: 48px 16px;
    max-width: 1280px;
}

.commands-list {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4px 24px;
    border-radius: 8px;
}
.row:nth-child(odd) {
    background-color: var(--almost-black);
}

@media screen and (min-width: 512px) {
    #bg-cards-left {
        display: block;
    }
    #bg-cards-right {
        display: block;
    }
    .row {
        padding: 16px 32px;
    }
    .feature-section {
        margin-left: 48px;
        margin-right: 48px;
    }
    .commands-section {
        padding: 48px;
    }
}

@media screen and (min-width: 868px) {
    #bg-cards-left {
        left: 0;
    }
    #bg-cards-right {
        right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .section-main > h1 {
        line-height: 1.6em;
    }

    .section-header {
        text-align: left;
    }

    .feature {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "fi fs";
        max-width: 1560px;
        margin: 0 auto;
    }
    .feature-section {
        grid-area: fs;
        text-align: left;
    }
    .feature-image {
        grid-area: fi;
    }
    .feature-align-right {
        grid-template-areas: "fs fi";
    }
}

footer {
	background-color: var(--almost-black);
	color: white;
	padding: 16px;
	text-align: center;
}